@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #24252A;
}

li, a, button {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: #edf0f1;
	text-decoration: none;
}

header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 30px 10%;
	background-color: #141414;
	box-shadow: 0px 0px 20px 1px black;
}

.logo {
	cursor: pointer;
	margin-right: auto;
}

.navbar {
	list-style: none;
}

.navbar li {
	display: inline-block;
	padding: 0px 20px;
}

.navbar li a {
	transition: all 0.3s ease 0s;
}

.navbar li a:hover {
	color: #0088A9;
	border-bottom: solid 1px #fed200;
}
section {
	display: flex;
    justify-content: center;
    margin: 5em 0;
}
table {
    position: absolute;
    border-collapse: collapse;
    width: 800px;
    height: 200px;
    border: 1px solid #bdc3c7;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
    font-family: 'Montserrat';
}
    
tr {
    transition: all .2s ease-in;
    cursor: pointer;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: #edf0f1;
}
th {
    color:red;
}
    
#headerTable {
    color: #fff;
}

tr:hover {
    background-color: #35363B;
    transform: scale(1.02);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 768px) {
    table {
        width: 90%;
    }
}
// SCROLLBAR
::-webkit-scrollbar {
    height: 6px;
    width: 6px;
}
::-webkit-scrollbar-button {
    height: 0;
}
::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
	background: #d1d1d1;
}